node_modules/
package-lock.json
*.log
*.db
.env
session/
auth_info_baileys/
auth_info/
temp/
tmp/
*.session
bot_restart.log
owner.json
bot_mode.json
bot_settings.json
bot_button_mode.json
bot_channel_mode.json
bot_owner_contact.json
session_migrated_backup/
bot_name.json
prefix_config.json
lid_mappings.json
sticker_config.json
stickers_packs.json
collected_stickers.json
antiaudio.json
anticall.json
antigrouplink.json
antiimage.json
antilink.json
antimention.json
antisticker.json
antivideo.json
autoread_settings.json
disp_settings.json
data/
last_bot_id.json
viewonce_downloads/
viewonce_stealth/
collected_stickers/
sticker_packs/
temp_stickers/
temp_url_uploads/
logs/
attached_assets/
